<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dengying.personnal.dao.TrainMapper">
	<!-- 查询全部 -->
	<select id="queryCounter" resultType="int">
		select count(traino) from TRAIN
	</select>
	
   <select id="findAll" resultType="TRAIN" >
  
   <![CDATA[select * from (select rownum as rn, ee.* from (select * from TRAIN) ee) e
	    where e.rn > #{fromIndex}  and e.rn <= #{toIndex}]]>
   </select>
   
   <!-- 新增数据 -->
   <insert id="append" parameterType="TRAIN">
   		<selectKey keyProperty="traino" order="BEFORE" resultType="int">
	        select TRAINSEQ.nextval from dual 
	    </selectKey>
   	insert into TRAIN(TRAINO,TRAINAME,TRAINCONTAIN,TRAINOBJ,TRAINDATEFROM,TRAINDATETO,TRAINER,TRAINPLACE,TRAINFEE) 
   	values(#{traino},#{trainame},#{traincontain},#{trainobj},#{traindatefrom},#{traindateto},#{trainer},#{trainplace},#{trainfee})
   </insert>
   <update id="replace" parameterType="TRAIN">
	    update TRAIN 
	    	<set> 
		    	<if test="trainame != null">
		    	    TRAINAME = #{trainame},
		    	</if>
		    	<if test="traincontain != null">
		    	    TRAINCONTAIN = #{traincontain},
		    	</if>
		    	<if test="trainobj != null">
		    	    TRAINOBJ = #{trainobj},
		    	</if>
		    	<if test="traindatefrom != null">
		    	    TRAINDATEFROM = #{traindatefrom},
		    	</if>
		    	<if test="traindateto != null">
		    	    TRAINDATETO = #{traindateto},
		    	</if>
		    	<if test="trainer != null">
		    	    TRAINER = #{trainer},
		    	</if>
		    	<if test="trainplace != null">
		    	    TRAINPLACE = #{trainplace},
		    	</if>
		    	<if test="trainfee != null">
		    	    TRAINFEE = #{trainfee}
		    	</if>
		    </set>
	    where TRAINO = #{traino}
	</update>
	<delete id="remove" parameterType="int">
	    delete  from TRAIN where TRAINO = #{traino}
	</delete>
</mapper>