<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dengying.login.dao.LoginMapper">
   <select id="isValid" resultType="int" parameterType="Actors">
	   select count(userid) from actor where username=#{username} and password=#{password}
   </select>
   <select id="isExisted" resultType="int" parameterType="Actors">
	   select count(userid) from actor where username=#{username} and password=#{password} and limited=#{limited}  
   </select>
   <select id="queryId" resultType="int" parameterType="Actors">
	   select USERID from actor where username=#{username} and password=#{password} and limited=#{limited}  
   </select>
</mapper>